<html>
<head>
<meta charset="utf-8">
<title>Static page</title>
<!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="/static/css/normalize.css">
  <link rel="stylesheet" href="/static/css/skeleton.css">
  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="/static/images/favicon.png">
</head>
<body>
<h1>Root Page: If This Displays then Application Loaded Succesfully</h1>
<input type=button onClick="location.href='/lab_temp'" value='Current Conditions'>
<input type=button onClick="location.href='/lab_env_db'" value='Database Records'>
<input type=button onClick="location.href='/input_dashboard'" value='Input Dashboard'>
<input type=button onClick="location.href='/dash/'" value='Live Data Plot'>

</body>
</html>