<html>
<head>
<meta charset="utf-8">
<title>Static page</title>
<!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="/static/css/normalize.css">
  <link rel="stylesheet" href="/static/css/skeleton.css">
  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="/static/images/favicon.png">
</head>
<body>

<form method="POST">
    <label for="id">Run id/number</label>
    <br>
    <input name="id">
    <label for="text">Value 1</label>
    <br>
    <input name="text">
    <label for="more">Value 2</label>
    <br>
    <input name="more">
    <input type="submit" value="Submit">
    
    
</form>
<input type=button onClick="location.href='/input_dashboard'" value='Return to Previous Page'>
</body>
</html>