<html>
<head>
<meta charset="utf-8">
<title>Static page</title>
<!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="/static/css/normalize.css">
  <link rel="stylesheet" href="/static/css/skeleton.css">
  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="/static/images/favicon.png">
</head>
<body>
<h1>Input Dashboard</h1>
<input type=button onClick="location.href='/input_dashboard/new_run'" value='New Run'>
<input type=button onClick="location.href='/input_dashboard/repeat_run'" value='Repeat Run'>
<input type=button onClick="location.href='/input_dashboard/review_run'" value='Review Run'>
<input type=button onClick="location.href='/input_dashboard/compare_runs'" value='Compare Runs'>
<input type=button onClick="location.href='/input_dashboard/calibrate_system'" value='Calibrate System'>
<input type=button onClick="location.href='/input_dashboard/input_handle'" value='Input Handle Test'>
<input type=button onClick="location.href='/'" value='Return to Root Page'>
</form> 
</body>
</html>